<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Study\code Maze-dotnet core\Applictaions\Custom Logging\AccountOwnerServer\internallog.txt">

  <variable name="logDirectory" value="C:/AUSIL/" />
  <targets async="true">
    <target name="logfile" xsi:type="File"
        fileName="${logDirectory}/logs/logfile.txt"
         layout="${longdate} ${level:uppercase=true} ${message}"   keepFileOpen ="false"
            concurrentWrites ="true"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1000000"
            maxArchiveFiles="10"/>
 
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
   
  </rules>
</nlog>